body {
	margin: 0;
	font-family: Kanit;
	background-color: var(--background-color);
}

.timeline {
	width: 100%;
	height: 100vh;
}

.timeline__title {
	font-size: 36px;
	font-weight: bold;
	color: var(--text-color);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 24px 12px;
	background-image: url('../assets/title_background2.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.timeline__content {
	list-style: none;
	padding-left: 30%;
}

.timeline__content h3 {
	position: relative;
	font-size: 32px;
	color: var(--accent-color2);
	line-height: 1;
	margin: 24px auto;
}
.timeline__content h4 {
	position: relative;
	font-size: 18px;
	color: var(--text-color);
	margin: 4px auto;
}

.timeline__content p {
	position: relative;
	font-size: 14px;
	color: var(--text-color);
	margin: 4px auto;
}

.timeline__content h3::before {
	content: '';
	position: absolute;
	left: -40px;
	top: 50%;
	width: 14px;
	height: 14px;
	border-radius: 100%;
	transform: translateY(-50%);
	background-color: var(--accent-color2);
}

.timeline__content li {
	position: relative;
	padding: 0 0 0 33px;
}

.timeline__content li::before {
	content: ' ';
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: -20px;
	width: 2px;
	transform: translateX(-50%) translateY(12px);
	background-color: var(--accent-color2);
}
